<config>
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">

    <!-- Hostname -->
    <hostname>PE2-NETCONF</hostname>

    <!-- Interfaces -->
    <interface>

      <!-- GigabitEthernet0/0/0 -->
      <GigabitEthernet>
        <name>0/0/0</name>
        <description>Uplink naar core</description>
        <ip>
          <address>
            <primary>
              <address>192.168.10.2</address>
              <mask>255.255.255.0</mask>
            </primary>
          </address>
        </ip>
        <ipv6>
          <address>
            <prefix-list>
              <prefix>2001:db8:1::1/64</prefix>
            </prefix-list>
          </address>
        </ipv6>
        <mtu>1500</mtu>
        <speed>1000</speed>
        <duplex>full</duplex>
      </GigabitEthernet>

      <!-- GigabitEthernet0/0/1 -->
      <GigabitEthernet>
        <name>0/0/1</name>
        <description>LAN Routed Interface</description>
        <ip>
          <address>
            <primary>
              <address>192.168.10.1</address>
              <mask>255.255.255.0</mask>
            </primary>
          </address>
        </ip>
        <ipv6>
          <address>
            <prefix-list>
              <prefix>2001:db8:10::1/64</prefix>
            </prefix-list>
          </address>
        </ipv6>
      </GigabitEthernet>

      <!-- Loopback0 -->
      <Loopback>
        <name>0</name>
        <description>Loopback voor OSPF</description>
        <ip>
          <address>
            <primary>
              <address>10.10.10.1</address>
              <mask>255.255.255.255</mask>
            </primary>
          </address>
        </ip>
      </Loopback>

    </interface>

    <!-- DNS -->
    <ip>
      <name-server>
        <address>9.9.9.9</address>
      </name-server>

      <!-- Static Route -->
      <route>
        <ip-route-interface-forwarding-list>
          <prefix>198.51.100.0</prefix>
          <mask>255.255.255.0</mask>
          <fwd-list>
            <fwd>192.168.0.254</fwd>
          </fwd-list>
        </ip-route-interface-forwarding-list>
      </route>

      <!-- ACL -->
      <access-list>
        <standard>
          <name>20</name>
          <access-list-seq-rule>
            <sequence>10</sequence>
            <permit>
              <std-ace>192.168.0.0 0.0.0.255</std-ace>
            </permit>
          </access-list-seq-rule>
        </standard>
      </access-list>
    </ip>

    <!-- Apply ACL to G0/0/1 -->
    <interface>
      <GigabitEthernet>
        <name>0/0/1</name>
        <ip>
          <access-group>
            <in>
              <acl>20</acl>
            </in>
          </access-group>
        </ip>
      </GigabitEthernet>
    </interface>

    <!-- NTP -->
    <ntp>
      <server>
        <ip-address>192.168.0.100</ip-address>
      </server>
    </ntp>

    <!-- Banner -->
    <banner>
      <motd>
        <banner>*** Authorized access only ***</banner>
      </motd>
    </banner>

    <!-- User -->
    <username>
      <name>netops</name>
      <privilege>15</privilege>
      <secret>
        <secret>cisco123</secret>
      </secret>
    </username>

    <!-- VLAN (niet gebruikt op routed interfaces, maar mag blijven bestaan) -->
    <vlan>
      <vlan-list>
        <id>10</id>
        <name>USERS</name>
      </vlan-list>
    </vlan>

    <!-- SNMP -->
    <snmp-server>
      <community>
        <name>public</name>
        <RO/>
      </community>
    </snmp-server>

    <!-- OSPF -->
    <router>
      <ospf>
        <id>1</id>
        <router-id>10.10.10.1</router-id>

        <network>
          <ip>192.168.0.0</ip>
          <mask>0.0.0.255</mask>
          <area>0</area>
        </network>

        <network>
          <ip>192.168.10.0</ip>
          <mask>0.0.0.255</mask>
          <area>0</area>
        </network>

        <network>
          <ip>10.10.10.1</ip>
          <mask>0.0.0.0</mask>
          <area>0</area>
        </network>

      </ospf>
    </router>

  </native>
</config>
