<config xmlns="urn:ietf:params:xml:ns:netconf:base:1.0">
  <native xmlns="http://cisco.com/ns/yang/Cisco-IOS-XE-native">

    <!-- Hostname -->
    <hostname>PE2-NETCONF</hostname>

    <!-- Interfaces -->
    <interface>

      <!-- GigabitEthernet0/0/0 -->
      <GigabitEthernet>
        <name>0/0/0</name>
        <description>Uplink naar core</description>
        <ip>
          <address>
            <primary>
              <address>192.168.10.2</address>
              <mask>255.255.255.0</mask>
            </primary>
          </address>
        </ip>
        <ipv6>
          <address>
            <prefix-list>
              <prefix>2001:db8:1::1/64</prefix>
            </prefix-list>
          </address>
        </ipv6>
        <mtu>1500</mtu>
        <speed>1000</speed>
        <duplex>full</duplex>
      </GigabitEthernet>

      <!-- GigabitEthernet0/0/1 -->
      <GigabitEthernet>
        <name>0/0/1</name>
        <description>LAN Routed Interface</description>
        <ip>
          <address>
            <primary>
              <address>192.168.10.1</address>
              <mask>255.255.255.0</mask>
            </primary>
          </address>
          <access-group>
            <in>
              <acl>20</acl>
            </in>
          </access-group>
        </ip>
        <ipv6>
          <address>
            <prefix-list>
              <prefix>2001:db8:10::1/64</prefix>
            </prefix-list>
          </address>
        </ipv6>
      </GigabitEthernet>

      <!-- Loopback0 -->
      <Loopback>
        <name>0</name>
        <description>Loopback voor OSPF</description>
        <ip>
          <address>
            <primary>
              <address>10.10.10.1</address>
              <mask>255.255.255.255</mask>
            </primary>
          </address>
        </ip>
      </Loopback>

    </interface>

    <!-- DNS + Static Route + ACL -->
    <ip>
      <name-server>
        <address>9.9.9.9</address>
      </name-server>

      <route>
        <ip-route-interface-forwarding-list>
          <prefix>198.51.100.0</prefix>
          <mask>255.255.255.0</mask>
          <fwd-list>
            <fwd>192.168.0.254</fwd>
          </fwd-list>
        </ip-route-interface-forwarding-list>
      </route>

      <access-list>
        <standard>
          <name>20</name>
          <access-list-seq-rule>
            <sequence>10</sequence>
            <permit>
              <std-ace>192.168.0.0 0.0.0.255</std-ace>
            </permit>
          </access-list-seq-rule>
        </standard>
      </access-list>
    </ip>

    <!-- NTP -->
    <ntp>
      <server>
        <ip-address>192.168.0.100</ip-address>
      </server>
    </ntp>

    <!-- Banner -->
    <banner>
      <motd>
        <banner>*** Authorized access only ***
